<template>
  <div class="main">
    <div class="toast position-fixed top-0 start-0 align-items-center text-bg-warning border-0" role="alert" aria-live="assertive" aria-atomic="true" ref="fillToast">
      <div class="d-flex">
        <div class="toast-body">
          Fill in all the inputs
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
    <div class="toast position-fixed top-0 start-0 align-items-center text-bg-warning border-0" role="alert" aria-live="assertive" aria-atomic="true" ref="errorToast">
      <div class="d-flex">
        <div class="toast-body">
          Error system
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
    <div class="toast position-fixed top-0 start-0 align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true" ref="saveToast">
      <div class="d-flex">
        <div class="toast-body">
          User Saved
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
    <div class="toast position-fixed top-0 start-0 align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true" ref="deleteToast">
      <div class="d-flex">
        <div class="toast-body">
          User deleted
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-3">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">First name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" v-model="firstName">
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Last name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" v-model="lastName">
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" v-model="emailId">
          </div>
        </div>
        <div class="col-md-1 d-flex justify-content-center align-items-center">
          <button class="btn btn-primary" @click="saveUser">Save</button>
        </div>
      </div>
      <User v-for="user in users" :key="user.id" :user="user" @deleteUser="deleteUser"/>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import User from './User.vue';
import { Toast } from 'bootstrap'

export default {
  name: 'Main',
  data() {
    return {
      users: []
    }
  },
  components: {
    User
  },
  methods: {
    saveUser() {
      if(this.firstName && this.lastName && this.emailId) {
        axios.post(`${process.env.VUE_APP_ROOT_API}/users`, {
          lastName: this.lastName,
          firstName: this.firstName,
          emailId: this.emailId
        }).then((response) => {
          this.lastName = '';
          this.firstName = '';
          this.emailId = '';
          this.users.push(response.data)
          const toast = new Toast(this.$refs.saveToast)
          toast.show()
        }).catch(() => {
        const toast = new Toast(this.$refs.errorToast)
        toast.show()
      })
      } else {
        const toast = new Toast(this.$refs.fillToast)
        toast.show()
      }

    },
    deleteUser(id) {
      axios.delete(`${process.env.VUE_APP_ROOT_API}/users/${id}`).then((response) => {
        console.log(response)
        const toast = new Toast(this.$refs.deleteToast)
        toast.show()
        this.users = this.users.filter((user) => {
          return user.id != id;
        })
      }).catch(() => {
        const toast = new Toast(this.$refs.errorToast)
        toast.show()
      })
    }
  },
  created () {
    console.log(process.env.VUE_APP_ROOT_API)
    axios
      .get(`${process.env.VUE_APP_ROOT_API}/users`)
      .then(response => (this.users = response.data))
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
