<template>
    <div class="container">
      <div class="row justify-content-md-center shadow-lg p-3 mb-5 bg-body rounded">
        <div class="col-md-2">
          <div class="mb-3">
            {{user.firstName}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="mb-3">
            {{user.lastName}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="mb-3">
            {{user.emailId}}
          </div>
        </div>
        <div class="col-md-2 d-flex justify-content-center align-items-center">
          <button class="btn btn-danger" @click="deleteUser(user.id)">Delete</button>
        </div>
      </div>
    </div>
    
</template>

<script>
export default {
  name: 'User',
  props: {
    user: Object
  },
  emits: ['deleteUser'],
  methods: {
    deleteUser(id) {
        this.$emit('deleteUser', id)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
